<app-circle-progress
  [currentProgress]="currentTime.internalNotation"
  [maxProgress]="2400"
  [segmentStart]="profileData.startTime.internalNotation"
  [segmentEnd]="profileData.endTime.internalNotation"
></app-circle-progress>

<app-hour-minute-selector
  title="Start Time"
  [time]="profileData.startTime"
  (timeUpdated)="updateStartTime($event)"
></app-hour-minute-selector>

<app-hour-minute-selector
  title="End Time"
  [time]="profileData.endTime"
  (timeUpdated)="updateEndTime($event)"
></app-hour-minute-selector>
