<div
  [style.--progress]="progress"
  [style.--start]="start"
  [style.--end]="end"
  class="circle-wrap"
>
  <div class="circle">
    <div class="progress">
      <div class="mask full">
        <div class="fill"></div>
      </div>
      <div class="mask half">
        <div class="fill"></div>
      </div>
    </div>
    <div class="section-fast">
      <div class="mask full">
        <div class="fill"></div>
      </div>
      <div class="mask half">
        <div class="fill"></div>
      </div>
    </div>

    <div class="section-fast-hidden">
      <div class="mask full">
        <div class="fill"></div>
      </div>
      <div class="mask half">
        <div class="fill"></div>
      </div>
    </div>

    <div class="inside-circle">75%</div>
    <div class="inside-circle-2"></div>
  </div>
</div>
